<section>
  <div class="tabs tabs-style-fillup ">
    <nav>
      <ul class="nav-pills">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/movies']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            class="fa fa-home">
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/movies']" class="fa fa-film">
            <span>Best Movies 200's</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/theatre']" class="fa fa-television">
            <span>Movies in Theatre</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tvshows']" class="fa fa-video-camera">
            <span>Tv Shows</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /tabs -->
</section>

<div class="container">
  <router-outlet></router-outlet>
</div>
