/* You can add global styles to this file, and also import other style files */
.tv-list {
    margin-top: 50px;
    &_header {
      color: white;
      background: #007bff
    }
    &_tbheader{
      color: white;
      background: deepskyblue;
    }
    &_data:nth-child(even){
      background-color: skyblue;
    }
    &_filter{
      margin: 20px 0px 20px 0px;
    }
  }
  img{
    width: 100%;
  }

